.stepper {
    max-width: 500px;
    margin: auto;
}

.form {
    max-width: 500px;
    margin: 50px auto;
    &-input {
        margin: 10px 0;
    }
    &-button {
    background-color: $main_color  !important;
    float: right;
    margin-left: 10px !important;
    color: #fff!important;
    &:disabled {
        background-color: rgba(0, 0, 0, 0.12) !important;
        color: rgba(0, 0, 0, 0.26) !important;
    }
}
}

.error {
    color: #cc0404;
}

.profile-image {
    display: flex;
    justify-content: center;
    margin: 120px auto 0;
}